PORT=
DATABASE_URL=
CORS_ORIGIN=

# JWT
ACCESS_SECRET=
REFRESH_SECRET=

# stripe
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=

#AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET_NAME=
AWS_REGION=
AWS_VIEW_URL_EXPIRES_SECONDS=